@font-face {
    src : url(fonts/CursedTimerUlil-Aznm.ttf);
    font-family: cursed;
}




body {
    margin: 0;
    background-color: #0C4A6E;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: white;
    color: #E11D48;
    border-color: #E11D48;
    text-shadow: 1px 1px black;
   
}

#homepoints, #guestpoints {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    font-family: cursed;
  
}

#hyg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    text-shadow: 1px 1px black;
    font-size: 40px;
    margin-bottom: 0px;
    border-style: dotted;
    border-color: #0a0001;
    
}
